<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="row">
        <div class="column">
            
            <img src="~/Content/Images/img_snow.jpg" alt="Snow" style="width:100%">
        </div>
        <div class="column">

            <img src="~/Content/Images/img_forest.jpg" alt="Forest" style="width:100%">
        </div>
        <div class="column">

            <img src="~/Content/Images/img_mountains.jpg"alt="Mountains" style="width:100%">
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="row">
            <div class="column">
                <img src="~/Content/Images/img_bookRow.jpg" alt="Snow" style="width:100%">
            </div>
            <div class="column">
                <img src="~/Content/Images/img_bookStack.jpg" alt="Forest" style="width:100%">
            </div>
            <div class="column">
                <img src="~/Content/Images/img_bookHeart.jpg" alt="Mountains" style="width:100%">
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
